*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f7f8fc;
color:#333;
line-height:1.6;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,.08);
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:#333;
font-weight:bold;
}

.logo img{
    height:70px;
    width:auto;
    display:block;
}

.hero{
background:linear-gradient(135deg,#7B1FA2,#AB47BC);
color:white;
padding:100px 10%;
text-align:center;
}

.hero h1{
font-size:52px;
margin-bottom:25px;
}

.hero p{
max-width:800px;
margin:auto;
font-size:20px;
}

section{
padding:70px 10%;
}

h2{
margin-bottom:20px;
color:#7B1FA2;
}

.card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.card ul{
margin-left:20px;
}

footer{
text-align:center;
padding:50px;
}

.back{
display:inline-block;
background:#7B1FA2;
color:white;
padding:14px 28px;
text-decoration:none;
border-radius:40px;
}
