*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f7f8fc;
    color:#333;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#4f46e5;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    transition:.3s;
}

.nav-links a:hover{
    color:#4f46e5;
}

.btn{
    background:#4f46e5;
    color:white;
    padding:10px 22px;
    border-radius:30px;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#4f46e5,#8b5cf6);
    color:white;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    max-width:650px;
    margin:auto;
    font-size:20px;
    line-height:1.6;
}

.hero-btn{
    display:inline-block;
    margin-top:35px;
    background:white;
    color:#4f46e5;
    padding:15px 35px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}


.about{
    padding:80px 8%;
    background:white;
    text-align:center;
}

.about h2{
    margin-bottom:20px;
    font-size:40px;
}

.about p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
}


footer{
    background:#222;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:18px;
    }
}
